doctype html
head
  link(rel="stylesheet", href="/css/main.css")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0")
  meta(http-eqiv="refresh", content="3;URL='http://www.cs.hmc.edu/~hseaman/raincatcher-clinic'")

  title RainCatcher Data Monitor